/* Colours, typography, etc. e.g. .green { colour:green; } or .h-headline { font-size: 3rem; } */

/* Headings */

.mainTitle { font-size: 2rem; }
.subTitle { font-size: 1.5rem; }
.panelTitle {}
.listTitle {}
.messageTitle {}

/* Background colours */
.blackBG {background-color:#000;}
.darkGreyBG {background-color: #AAA;}
.darkGreyBG {background-color: #666;}
.yellowBG {background-color: #EFD422;}
.whiteBG {background-color: #fff;}

/* Text colours */
.blackText {color:#232323;}
.darkGreyText {color: #666;}
.lightGreyText {color: #AAA;}
.whiteText {color: #eee;}
.yellowText {color: #EFD422;}

/* Text Size and Weight */
.boldText {font-weight: bolder;}
.smallText {font-size: small;}
.smallerText {font-size: smaller;}
.textNormal {text-transform: none;}
