/* Reusable modules/blocks that should work anywhere on the site  */

/* Browse Happy prompt */
.browsehappy {
    margin: 0.2em 0;
    background: #4e2c7f;
    color: #fff;
    font-size: 1.143em; /* 16/14 */
    padding: 1em 0;
    text-align: center;
}

.browsehappy--link {
    color: #fff;
}

.browsehappy--link:hover {
    color: #e6007f;
}

/* Page Header */
.pageHeader {
    background-color: #f1f1f1;
	margin-bottom: 1em;
}

.masthead {
    padding: 1em 0;
}

.masthead__tel,
.masthead__email {
    margin: .25em 0; 
}
    
.logo {
    margin-bottom: 1em;
    text-align: center;
}

.masthead__contact {
    text-align: center;
}

.masthead__btn {
    background-color: #333333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: .25em 0;
    padding: .5em 3em;
    width: 100%;
}

/* Navigation */
.nav__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.nav__item {
    overflow: hidden;
}

.navOpener {
}

.navBtn {
}

.navBtn:hover {
    color: #fff;
}

.nav__link {
    color: #666;
    display: block;
    float: left;
    padding: 1.25em .75em;
    text-transform: uppercase;
}

.nav__link:hover,
.nav__link.active {
    color: #fff;
}

/* Footer Nav */
.pageFooter {
	background-color: #f1f1f1;
	padding: 1em 0;
}

.footerNav {
	font-size: .85em;
	margin-bottom: 2em;
}

.footerNav__item {
	margin-right: 1em;
}

.copyright {
	font-size: .85em;
	margin-bottom: 0;
}

.colophon {
	font-size: .85em;
	margin-bottom: 0;
}