@media only screen and (min-width: 40.063em) {

    /* Header */

    .logo {
        margin-bottom: 0;
        text-align: left;
    }

    .masthead__contact {
        text-align: right;
    }

    .masthead__btn {
        background-color:transparent;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline;
        margin: 0;
        padding: 0;
        width: auto;
    }

    /* Footer */

    .colophon {
        text-align: right;
    }
}
