/* I believe this is where the theme for this specific side would go
 * For example, colour scheme, fonts, etc.
*/

/* FOUNDATION OVERRIDES */

  /* Mobile nav opener to left rather than right */
.top-bar .toggle-topbar {right: auto;}
.top-bar .toggle-topbar.menu-icon a span:after {right:auto;left:15px;}
.top-bar .toggle-topbar.menu-icon a {padding: 0 15px 0 40px;}
    
