<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PAGE TITLE | SITE NAME</title>
    <meta name="description" content="META TO DO HERE">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/module.css">
    <link rel="stylesheet" href="/css/mq-smallmid.css">
    <link rel="stylesheet" href="/css/mq-medium.css">
    <link rel="stylesheet" href="/css/mq-large.css">
    <link rel="stylesheet" href="/css/mq-other.css">

    <script src="/js/modernizr.js"></script>
    <script>
        Modernizr.load(
            {
                test: Modernizr.mq('only all'), // true if MQ are supported, false if not,
                nope: '/js/respond-1.4.1.js'
            },
            {
                test: Modernizr.cssremunit,
                nope: '/js/rem-polyfill.js'
            }
        );
    </script>
</head>
