    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/foundation.js"></script>
    <script src="/js/foundation.topbar.js"></script>
    <script src="/js/foundation.offcanvas.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>

<script>
    $(document).foundation();
  </script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{global:gacode}', 'DOMAIN.COM');
    ga('send', 'pageview');
</script>