<div class="row masthead">
    <div class="small-12 medium-6 column logo">
        <a href="/"><img src="/images/ui/logo.png" alt="" /></a>
    </div><!-- logo -->
    <div class="small-12 medium-6 column masthead__contact">
        <p class="masthead__tel"><a href="tel:01702681000" class="masthead__btn">01702 681000</a></p>
        <p class="masthead__email"><a href="mailto:email@mydomain.com" class="masthead__btn">Email us</a></p>
    </div><!-- masthead__contact -->
</div><!-- masthead -->

<!--[if lte IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->