<nav class="tab-bar hide-for-medium-up">
    <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
    </section>

    <section class="middle tab-bar-section">
        <h1 class="title"></h1>
    </section>

    <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
    </section>
</nav>

<div class="contain-to-grid">
    <nav class="top-bar hide-for-small" data-topbar>
        <div class="row">
          <section class="top-bar-section large-12 column">
            <ul class="left">
              <li class=""><a href="/">Home</a></li>
              <li class=""><a href="#">Left Sidebar</a></li>
              <li class=""><a href="/legal/privacy">Right Sidebar</a></li>
              <li class=""><a href="/contact/success">Full Width</a></li>
              <li class=""><a href="/contact">Contact</a></li>
            </ul> <!-- left -->
          </section> <!-- top-bar-section -->
        </div> <!-- row -->
    </nav> <!-- top-bar -->
</div> <!-- contain-to-grid -->

<aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
        <li><label>Menu</label></li>
        <li class=""><a href="/">Home</a></li>
        <li class=""><a href="#">Left Sidebar</a></li>
        <li class=""><a href="/legal/privacy">Right Sidebar</a></li>
        <li class=""><a href="/contact/success">Full Width</a></li>
        <li class=""><a href="/contact">Contact</a></li>
    </ul>
</aside>

<aside class="right-off-canvas-menu">
    <ul class="off-canvas-list">
        <li><label>menu 2</label></li>
        <li class=""><a href="/">Home</a></li>
        <li class=""><a href="#">Left Sidebar</a></li>
        <li class=""><a href="/legal/privacy">Right Sidebar</a></li>
        <li class=""><a href="/contact/success">Full Width</a></li>
        <li class=""><a href="/contact">Contact</a></li>
    </ul>
</aside>
<a class="exit-off-canvas"></a>