<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"></li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul> <!-- title-area -->

  <section class="top-bar-section">
    <ul class="left">
      <li class=""><a href="/">Home</a></li>
      <li class=""><a href="#">Left Sidebar</a></li>
      <li class=""><a href="/legal/privacy">Right Sidebar</a></li>
      <li class=""><a href="/contact/success">Full Width</a></li>
      <li class=""><a href="/contact">Contact</a></li>
    </ul> <!-- left -->
  </section> <!-- top-bar-section -->
</nav> <!-- top-bar -->