<footer class="pageFooter">
    <div class="row">
        <div class="nav small-12 large-6 column">
            <ul class="nav__list footerNav left">
                <li class="footerNav__item"><a href="/legal/terms" class="footerNav__link">Terms of Business</a></li>
                <li class="footerNav__item"><a href="/legal/privacy" class="footerNav__link">Privacy Policy</a></li>
                <li class="footerNav__item"><a href="/legal/tandcs" class="footerNav__link">T&amp;Cs</a></li>
            </ul>
        </div><!-- column -->
    </div><!-- row -->
    <div class="row">
        <div class="small-12 large-6 column">
            <p class="copyright">&copy; Copyright <?php echo date("Y"); ?> BOILERPLATE.</p>
        </div><!-- column -->
        <div class="small-12 large-6 column">
            <p class="colophon"><a href="http://www.137digital.com" target="_blank">website by 137 Digital</a></p>
        </div><!-- column -->
    </div><!-- row -->
</footer>




